<article class="article-preview">
  <small class="text-muted pull-right"><%= current_article.date.strftime('%b %e %Y') %></small>
  <h4 class="article-header">
    <%= link_to current_article.title, current_article %>
  </h4>
  <%= current_article.summary %>
  <div class="continue-reading">
    <small><%= link_to "Continue Reading →", current_article %></small>
  </div>
</article>
