<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .Title }}{{ .Title }}{{ else }}Christian Niles{{ end }}</title>
    {{ partial "head.html" . }}
  </head>
  <body class="{{ block "body-class" . }}{{ end }}">
    {{ if not .IsHome }}{{ partial "nav.html" . }}{{ end }}
    <div class="container">
      {{ block "main" . }}{{ end }}
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
