body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
}

a:link {
    color: #3F51B5;
}

a:visited {
    color: #3F51B5;
}

a:hover {
    color: #3F51B5;
}

a:active {
    color: #6574C4;
}

@media (max-width: 767px) {
    body {
        padding-top: 150px;
    }
    
    a.navbar-brand-title {
        padding-left: 0px;
    }

    a.navbar-brand-image {
        padding-right: 0px;
    }
}

a.navbar-brand-title {
    padding-left: 10px;
}

a.navbar-brand-image {
    padding-top: 6px;
    padding-bottom: 6px;
}

@media (min-width: 768px) {
    .navbar .container .navbar-header {
        margin-left: -50px;
    }
}

img#navbar-profile-image {
   width: 38px;
   height: 38px; 
}

body.index header {
  margin-top: 1em;
  margin-bottom: 2em
}

body.index #profile {
  border-radius: 240pt;
}

body.index section h2 {
  padding-bottom: 10px;
  border-bottom: solid 1px #DDD;
}

body.index section ul li {
  margin: 2em 0;
}

.article-list li {
  margin-bottom: 3em;
}

footer {
  margin: 2em 0;
}

.article-header {
  margin-bottom: 0.5em;
}

body.full-article .article-header {
  margin-bottom: 1em;
}

.continue-reading {
  margin-top: -0.5em;
}

img.emoji {
  width: 16px;
  height: 16px;
}
