---
title: Let Me Help You Out, Comcast
---
<div class="figure"><figure>
  <img src="/blog/2008/12/01/let-me-help-you-with-that/UMOKeYvLUgzppknvL7EMTvTMo1_500.png" alt="">
</figure></div>

    <p>A <em>huge</em> usability pet peeve of mine is when sites ask you to enter account numbers without dashes or spaces. This one is from <a href="http://www.comcast.com/">Comcast</a>&rsquo;s online account registration, but I&rsquo;ve seen them in plenty of places. It&rsquo;s practically a standard to tell you not to enter anything except the raw numbers.</p>
    
READMORE

<p>Account numbers often have dashes/spaces in them precisely because it makes them easier to read and verify. In fact, the bill which I was told to copy the account number from had spaces in it. Other numbers, like a <a href="http://www.usrecordsearch.com/ssn.htm">US Social Security Number</a> have an internal structure that also can tell you things like which state a number was generated in.</p>

<p><strong>There is no technical reason except laziness to forbid people to enter dashes.</strong> Your code already works for numbers without dashes, right? Let me help you out:</p>

<p>Ruby:<br/><code>account_number.gsub(/\D+/, '')</code></p>

<p>PHP:<br/><code>preg_replace("/\\D+/", "", $account_number)</code></p>

<p>Java:<br/><code>accountNumber.replaceAll("\\D+", "")</code></p>

<p>Python:<br/><code>re.sub(r'\D+', '', account_number)</code></p>

<p>Now you have no excuse, so STOP IT. It&rsquo;s getting annoying.</p>