---
title: Using mock_model and Factories &amp; Workers Together
---
<p>While refactoring some functional tests for a side project yesterday and came up with a simple but great pairing: <a href="http://kpumuk.info/rspec/useful-helpers-for-rspec-mocks/">mock_model</a> with a side of <a href="http://github.com/dfl/factories-and-workers/tree/master">Factories &amp; Workers</a>.</p>

READMORE

<p><code class="language-ruby">mock_model</code> is an RSpec helper that stubs out many ActiveRecord methods to limit (but not totally remove) calls to the database. It has the conceptual benefit of isolating your tests from the database, but the practical benefit is much faster tests.</p>

<p>But I always hated providing a list of attributes to <code>mock_model</code>, like so:</p>

<p><code class="language-ruby">negative_aged_user = mock_model(User, :name =&gt; 'Foo', :age =&gt; -42)</code></p>

<p>It just always seemed inelegant, because I only wanted to include attributes that were important to a specific test, but leaving out common attributes would create a cascading set of test failures. I actually really hate how much mocking and stubbing, in general, forces me to expose the internals of my code, rather than testing interfaces.</p>

<p>Anyway, yesterday I realized that <a href="http://github.com/dfl/factories-and-workers/tree/master">Factories &amp; Workers</a> exposed a method <code class="language-ruby">valid_MODEL_attributes</code> along with <code class="language-ruby">create_MODEL</code> and <code class="language-ruby">build_MODEL</code>.</p>

<p>So now, instead of including all the attributes all the time, I can just do this:</p>

<p><code class="language-ruby">mock_model(User, valid_user_attributes(:age =&gt; -42))</code></p>

<p>I&rsquo;ve taken this a bit further, and have written a helper method, <code class="language-ruby">mock_user</code>, which pairs nicely with Factories &amp; Workers&rsquo; <code class="language-ruby">create_user</code> and <code class="language-ruby">build_user</code> methods. Now I can use the same syntax for mocked models, or database-backed models. Yay!</p>