---
Title: Granola!
---
<p>Have you noticed that any <strong>good</strong> granola costs five or six bucks per box? And it&rsquo;s a 12-ounce box. That&rsquo;s fracking ridiculous, especially since I learned how to make granola in elementary school. It probably wasn&rsquo;t that great (I remember it including a bunch of vegetable oil&hellip;ewww), but still cheap.</p>

<p>I decided to stop buying granola from the store. I can make a BETTER granola that&rsquo;s also CHEAPER. Christian&rsquo;s law states that BETTER + CHEAPER = DOUBLE PLUS GOOD.</p>

<p><a href="http://bitten.blogs.nytimes.com/">Mark Bittman</a> is pretty much the go-to guy for quick, cheap, good eats, so I based mine off <a href="http://bitten.blogs.nytimes.com/2009/01/09/recipe-of-the-day-crunchy-granola/">this granola recipe he posted earlier this year</a>.</p>

<p><img src="/blog/2009/10/06/granola/tumblr_kr2w9fsbj21qz8pzc.jpg" alt=""/></p>

<p>I changed a few things. First, I couldn&rsquo;t find unsweetened coconut, so I left that out. He says it&rsquo;s ok to do so, and I trusted him. I wanted a subtly sweet granola, so I added about 2/3rds cup of honey. I also added a tablespoon of vanilla, and a tablespoon or two of peanut oil. For dried fruit, I added an even mixture of dried strawberries, bananas, and cranberries.</p>

<p>The raw granola was AMAZING. I mean, granola has gotten a pretty bad reputation, since the hippies co-opted its goodness for political gain. Great granola has a really great, subtle flavor. The honey, peanut oil, and cinnamon are great together. The hippies can take their flax seeds and soy nuts and put it in their vegan cookies, for all I care.</p>

<p>It was still good after baking for 25 minutes, but I learned a few things, which I&rsquo;ll rectify  in a month when I&rsquo;ve run out of granola again. First, I didn&rsquo;t have a normal baking sheet you&rsquo;d use for granola. You know, one with sides about a half an inch or so thick. I only have a flat sheet. So I piled the granola on top and mushed it into a big rectangular bar, which caused the sides of the granola to nearly burn, because I couldn&rsquo;t stir the granola at all.</p>

<p>Also, I mixed the granola in my Kitchen-Aid stand mixer, instead of hand-mixing. This was really efficient, since it took about 30 seconds on the 2-speed to perfectly blend everything. It came out fine, but the almonds and oats were crushed.</p>

<p>Lastly, the final granola was crumbly, instead of the nice clumpy style that I like. I&rsquo;ll either need to cut out the oil, or add more honey or another ingredient to bind the oats together. Egg whites, perhaps?</p>