---
title: NSIndexSet block enumeration gotcha
date: 2012-05-10
---

<p>If you use <code class="language-objectivec">NSIndexSet</code>&rsquo;s block enumerators in your iOS or Mac app code, you should beware of a bug I&rsquo;ve encountered when using <code class="language-objectivec">[NSIndexSet enumerateIndexesInRange:options:block:]</code>.</p>

READMORE

<p>In short: it will barf and throw an exception if you provide it a range of {0, 0}. It will not barf on {1, 0}, or other ranges, which makes it insidiously easy to let this bug affect your own code.</p>

<p>I&rsquo;ve submitted a radar ticket, but in the meantime if you use these methods you&rsquo;ll need to add a check for this case, like so:</p>

<pre><code class="language-objectivec">NSIndexSet * indexSet = [NSIndexSet indexSet];
NSRange range = NSMakeRange(0, 0);
if (range.length &gt; 0)
{
  [indexSet enumerateIndexesInRange:range
                            options:0
                         usingBlock:^(NSUInteger idx, BOOL *stop) {
                           // carry on...
                         }];
}
</code></pre>